/* Styling table with items*/
body {
    background: linear-gradient(90deg, #f598a8, #f6edb2);
    max-width: 100%;
}

.table-items {
    background: #FFFFCC;
    margin: 30px auto;
    max-width: 850px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

th {
    cursor: pointer;
}
th:hover {
    background: lightgray;
}

caption {
    caption-side: top;
    font-size: 16px;
    color: #494949;
    padding: 0;
}

.create-item-link {
    display: block;
    max-width: 165px;
    margin-left: auto;
    margin-right: 20px;
}

.create-btn {
    background-color: #f6edb2;
    border: 2px solid black;
    margin-left: auto;
}

.create-btn:hover {
    background-color: #f598a8;
    border: 2px solid black;
}

.create-btn:focus {
    box-shadow: none;
}

.create-btn:active {
    background-color: #ee526b;
    color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.collection-list {
    display: inline-block;
    position: relative;
    max-width: 650px;
    margin: 0 auto;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    list-style: none;
}

.collection-list li p {
    display: inline;
}

.collection-wrapper {
    margin: 20px auto;
    max-width: 830px;
}

.collection-picture {
    display: inline-block;
    vertical-align: top;
}

/* Styling page item*/

.item {
    max-width: 850px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

h1 {
    font-size: 20px;
    text-align: center;
}

.comments {
    max-width: 750px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}

.comments-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.comments-list-item {
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid lightgray;
    border-radius: 15px;
    background-color: #CCCCFF;
}

.form-comment {
    margin-bottom: 50px;
}

.commenter-name {
    font-size: 18px;
    font-weight: bold;
}


/* Edit item */

.btn-delete {
    display: block;
    max-width: 150px;
    margin-top: 35px;
    margin-left: auto;
}

.form-item {
    max-width: 600px;
    border: 2px solid #d75b00;
    border-radius: 5px;
    background: white;
    padding: 15px;
    margin: 40px auto;
}

.btn-delete {
    display: block;
    max-width: 150px;
    margin-top: 35px;
    margin-left: auto;
}

h1 {
    text-align: center;
    font-size: 22px;
}


