.collection {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 70px;
}

.collection-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.collection-list-item {
    text-align: center;
    border: 1px solid black;
}

.collection-list-item h3 {
    background: hsl(0, 0%, 83%);
    font-size: 17px;
    margin: 0;
    padding: 15px 0;
}


@media (max-width: 800px) {
    .collection-list {
        grid-template-columns: 1fr;
    }

    .collection {
        max-width: 290px;
    }
}