
body {
    box-sizing: content-box;
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.collections {
    max-width: 1050px;
    margin: 45px auto;
}

.collection-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
    padding: 0;
    margin: 0;
    list-style: none;
}

.collection-list-item {
    margin: 0 auto;
    width: 18rem;
    color: white;
    position: relative;
    border: 2px solid black;
}

.collection-list-item .card-body h5 {
    background: #FF6600;
    font-size: 17px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-radius: 5px;
}

.collection-link {
    color: white;
    text-decoration: none;
}

.collection-link:hover {
    color: black;
}

.collection-link:active {
    color: #313131;
}

.card-body p {
    background: snow;
    color: black;
    display: block;
    border: 1px solid lightgray;
    border-radius: 3px;
    text-align: left;
    padding: 5px;
}

.card-subtitle {
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
}

.collection-setting-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    background: url('../images/setting.png') no-repeat;
    background-size: 15px;
}

.create-collection-link {
    display: block;
    max-width: 205px;
    margin-left: auto;
    margin-right: 20px;
}

.create-btn {
    background-color: #8ddad5;
    border: 2px solid black;
    margin-left: auto;
}

.create-btn:hover {
    background-color: #00cdac;
    border: 2px solid black;
}

.create-btn:focus {
    box-shadow: none;
}

.create-btn:active {
    background-color: #00705c;
    color: white;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 950px) {
    .collection-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .collection-list {
        grid-template-columns: 1fr;
    }
}

