{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <main>
        <section class="last-items">
            <ul class="last-items-list">

            </ul>
        </section>
    </main>
    <footer>

    </footer>
{% endblock %}
