{% extends 'base.html.twig' %}

{% block title %}Main page{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
    <main>
{#    {{ app.user.username }}#}
    </main>
    <footer>

    </footer>
{% endblock %}
